body
{
margin:0;
padding:0;
overflow:hidden;
font-family:'Century Gothic', sans-serif;
background-color:transparent;

}

#topper
{
width:100%;
height:70px;
float:left;
clear:both;
background-color:#b20000;
box-shadow: 0px 7px 20px #666;
z-index:2;
position:relative;
}

.menuerholder
{
background-color:transparent;
width:520px;
height:30px;
float:right;
margin-right:100px;
margin-top:20px;
}

#middler
{
background-color:transparent;
width:100%;
float:left;
clear:both;
z-index:2;
position:relative;
}

#bottomer
{
width:100%;
height:40px;
float:left;
clear:both;
background-color:#333;
color:#fff;
text-align:center;
box-shadow: 0px -5px 20px #666;
padding-top:20px;
z-index:2;
position:relative;
}

#searcher
{
color:#fff;
text-align:center;
box-shadow: 0px -5px 20px #666;
}
.menuer
{
width:100px;
height:25px;
float:left;
color:#fff;
margin-left:5px;
background-color:transparent;
transition:0.3s;
font-family:'Century Gothic', sans-serif;
font-size:13px;
padding-top:5px;
text-align:center;
}

.menuer:hover
{
cursor:pointer;
text-decoration:underline;
transition:0.3s;
}

//auto css
.auter
{
width:300px;
height:100%;
background-color:#ddd;
float:left;
}

.titler
{
width:100%;
height:35px;
float:left;
background-color:#333;
color:#fff;
text-align:center;
padding-top:15px;

}

.profiler
{
width:100%;
height:200px;
background-size:100% 100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
border:5px solid white;
float:left;
clear:both;
margin-top:2px;
box-shadow: 6px 0 8px -2px rgba(170, 170, 170, 0.8), -6px 0 8px -2px rgba(170, 170, 170, 0.8);
}

.kmer
{
width:90%;
height:30px;
float:left;

text-align:center;
background-color:transparent;

}


.enginer
{
width:90%;
height:30px;
float:left;
margin-top:3px;
text-align:center;
}

.yearer
{
width:90%;
height:30px;
float:left;
margin-top:3px;
text-align:center;
}

.pricer
{
width:90%;
height:30px;
float:left;
margin-top:3px;
text-align:center;
}

.outer_carrousel
{
margin-left:5%;
width:90%;
height:100%;
}



.outer
{
float:left;
position:relative;
margin-top:10px;
margin-left:10px;
}

.infoer
{
width:50%;
height:40px;
padding-top:7px;
margin-top:10px;
margin-left:25%;
text-align:center;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
border:2px solid #666;
float:left;
clear:both;
}

.infoer:hover
{
background-color:rgba(255,255,255,0.8);
cursor:pointer;
transition:0.3s;
}




	.izbor
		{
			width:0px;
			height:100%;
			background-color:rgba(0,0,0,0.9);
			float:left;
			z-index:2;
			position:fixed;
			opacity:0;
			
			transition:0.3s;
		}
		
		.izbor2
		{
			width:400px;
			height:100%;
			background-color:rgba(0,0,0,0.9);
			float:left;
			z-index:2;
			position:fixed;
			opacity:1;
			overflow-y:scroll;
			overflow-x:hidden;
			transition:0.3s;
		}
		
		.izboru
		{
			width:50px;
			height:60px;
			background-color:rgba(0,0,0,0.8);
			background-image:url('../images/search.png');
			background-size:100% 100%;
			float:left;
			z-index:5;
			position:fixed;
			margin-left:0px;
			margin-top:100px;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}
		
		.izboru:hover
		{
		cursor:pointer;
		}